/* put styles here */
$transitionTime: 0.3s;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
  background-color: #aaa;

  &__start-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(74, 74, 74);
  }

  &__start-btn {
    position: absolute;
    font-size: 30px;
    padding: 50px;
    background-color: #000;
    color: #ccc;
    letter-spacing: 2px;
    top: 40%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all $transitionTime;
    box-shadow: rgba(68, 0, 0, 0.25) 0 54px 55px,
      rgba(74, 6, 6, 0.25) 0 -12px 30px,
      rgba(72, 5, 5, 0.24) 0 4px 6px,
      rgba(110, 12, 12, 0.17) 0 12px 13px,
      rgba(53, 8, 8, 0.09) 0 -3px 5px;

    &:hover {
      background-color: #111;
      transform: translate(-50%, -50%) scale(1.1);
      border-radius: 30px;
    }

    &:active {
      color: red;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
  }

  &__btn {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    display: inline-block;
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    transition: all $transitionTime;

    &:hover {
      transform: scale(1.03);
      box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    }

    &--uniq {
      color: #ccc;
      background-color: #111;
      box-shadow: rgba(68, 0, 0, 0.25) 0 54px 55px,
        rgba(74, 6, 6, 0.25) 0 -12px 30px,
        rgba(72, 5, 5, 0.24) 0 4px 6px,
        rgba(110, 12, 12, 0.17) 0 12px 13px,
        rgba(53, 8, 8, 0.09) 0 -3px 5px;

      &:hover {
        transform: scale(1.05);
        border-radius: 30px;
      }
    }
  }

  &__select {
    padding: 7px 15px;
    font-size: 18px;
    color: #333;
    background-color: #bbb;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
  }

  &__list {
    text-align: center;
    position: absolute;
    padding: 50px 100px;
    background-color: #888;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__list-item {
    letter-spacing: 3px;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
