iframe {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 25px;
  border: 2px solid yellowgreen;
  border-radius: 15px;
  width: 50%;
}

li {
  list-style: none;
  text-align: center;
  padding: 5px;
  border: 1px solid yellowgreen;
  border-radius: 25px;
  width: 50%;
  color: blueviolet;
  transition: all 0.5s;
}

li:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}
