html {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7532b4b0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: 500;
  margin-right: 6px;
  height: 35px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}
